{% load staticfiles %}


    <nav class="">

        <div class="nav-wrapper">


        <a class="brand-logo" href="{% url 'home:index' %}">
            <img src="../../static/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <span id="planvore">Planvore</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
               aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

           <i class="fa fa-bars" aria-hidden="true"></i>

        </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home:index' %}">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            </li>

            {% if user.is_authenticated %}

            {% else %}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'home:register' %}">Register</a>
            </li>

            {% endif %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Application
                </a>

            <div class="dropdown-menu list-group-item-dark" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#"> Plan your personal budget</a>
                <a class="dropdown-item" href="#"> Build your business plan</a>
                <a class="dropdown-item" href="#"> Set your company KPIs control</a>
            </div>

            </li>

        </ul>

        <ul class="nav navbar-nav navbar-right"
             {% if user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home:logout' %}">Logout</a>
                </li>

                {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home:login' %}">Login</a>
                </li>

             {% endif %}

            <li class="nav-item dropdown my-2 my-sm-0">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My account
                </a>


            <div class="dropdown-menu list-group-item-dark" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#"> Profile </a>
                <a class="dropdown-item" href="#"> My Apps </a>
                <a class="dropdown-item" href="#"> Settings </a>
            </div>

            </li>

        </ul>

    </div>

</nav>

