@import 'bourbon/bourbon';


//COLORS
$nav-bar-bg: rgba(0, 0, 0, .9);
$light-bg: #fff;
$medium-bg: #fff;
$planvore-logo-color: #ff9a17;
$nav-bar-link: rgba(255, 255, 255, .5);
$text-color: #fff0f5;
$text-color-med: #999;
$text-color-active: #fff;
$text-color-inactive: #8f9296;
$text-contact: #5383d3;
$btn-hover: #b2dfdb;
$btn-bg: #35a6df;
$footer-box-shadow: #b2dfdb;
$icon-bg: #33383b;
$form-box-bg: #365e8a;


body {

}


#planvore {
  color: $planvore-logo-color;
  font-family: 'Syncopate', sans-serif;
  font-weight: normal;
}



.fa-bars {
  color: $nav-bar-link;
}


// In our demo, the footers are fixed to the bottom of the page

footer {
  bottom: 0;
  position: fixed;
}

@media (max-height:800px){
  footer { position: static; }
  header { padding-top: 40px; }
}

.footer-distributed {
  background-color: $nav-bar-bg;
  box-shadow: 0 1px 1px 0 $footer-box-shadow;
  box-sizing: border-box;
  font: bold 16px sans-serif;
  margin-top: 80px;
  padding: 55px 50px;
  text-align: left;
  width: 100%;

  h3 {
    color: $text-color-active;
    font: normal 36px 'Cookie', cursive;
    margin: 0;

    span {
      color: $text-contact;
    }
  }

  .footer-company-name {
    color: $text-color-inactive;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }

  .footer-links {
    color: $text-color-active;
    margin: 20px 0 12px;
    padding: 0;

    a {
      color: inherit;
      display: inline-block;
      line-height: 1.8;
      text-decoration: none;
    }
  }

  .footer-left {
    display: inline-block;
    vertical-align: top;
    width: 40%;
  }

  .footer-center {
    display: inline-block;
    vertical-align: top;
    width: 35%;

    i {
      background-color: $nav-bar-bg;
      border-radius: 50%;
      color: $text-color-active;
      font-size: 25px;
      height: 38px;
      line-height: 42px;
      margin: 10px 15px;
      text-align: center;
      vertical-align: middle;
      width: 38px;

      .fa-envelope {
        font-size: 17px;
        line-height: 38px;
      }
    }

    p {
      color: $text-color-active;
      display: inline-block;
      margin: 0;
      vertical-align: middle;

      span {
        display: block;
        font-size: 14px;
        font-weight: normal;
        line-height: 2;
      }
    }

    p a {
      color: $text-contact;
      text-decoration: none;
    }
  }

  .footer-right {
    display: inline-block;
    vertical-align: top;
    width: 20%;
  }

  .footer-company-about {
    color: $text-color-inactive;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;

    span {
      color: $text-color-active;
      display: block;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }

  .footer-icons {
    margin-top: 25px;

    a {
      background-color: $icon-bg;
      border-radius: 2px;
      color: $text-color;
      cursor: pointer;
      display: inline-block;
      font-size: 20px;
      height: 35px;
      line-height: 35px;
      margin-bottom: 5px;
      margin-right: 3px;
      text-align: center;
      width: 35px;
    }

  }

}

//If you don't want the footer to be responsive, remove these media queries

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;

    .footer-left {
      display: block;
      margin-bottom: 40px;
      text-align: center;
      width: 100%;
    }

    .footer-center {
      display: block;
      margin-bottom: 40px;
      text-align: center;
      width: 100%;

      i {
        margin-left: 0;
      }
    }

    .footer-right {
      display: block;
      margin-bottom: 40px;
      text-align: center;
      width: 100%;

    }
  }
}

///* BOX LOGIN */

.box {
  background: $light-bg;
  border-radius: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
  color: $text-color-inactive;
  height: 24rem;
  left: 0;
  margin: auto;
  overflow: hidden;
  position: relative;
  right: 0;
  top: 3rem;
  width: 24rem;
  z-index: 200;


  p {
    font-size: 1rem;
    text-align: center;
  }

  h1 {
    color: $text-color-active;
    font-size: 24px;
    font-weight: 300;
    line-height: 35px;
    margin-left: 20px;
    margin-top: 0;
    }

  button {
    background: $btn-bg;
    border: 0;
    border-radius: 2px;
    color: $text-color-active;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin: 20px auto;
    padding: 10px;
    -webkit-transition: all 0.4s;
    transition: all .4s;
    width: 300px;

    :active {
      background: #35a6df;
      color: #88b4c8;
    }

    :hover {
      background: #56aa69;
      color: $text-color-active;
      -webkit-transition: all .4s;
      transition: all .4s;
    }
  }
}

#header {
  background: $form-box-bg;
  position: relative;
  height: 4rem;
  width: 100%;
  margin-bottom: 2rem;
}

#cont-lock {
  width: 100%;
  height: 1rem;
  position: relative;
  z-index: 500;
}

#bottom-head {
  position: relative;
  background: #365e8a;
  height: 3rem;

  ::after {
    content: '';
    width: 0;
    height: 15rem;
    display: block;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    border: 7px solid rgba(0, 0, 0, 0);
    border-bottom-color: white;
  }
}

.lock {
  text-align: center;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  top: 1rem;
  bottom: 0;
  line-height: 65px;
  font-size: 28px;
}


.group 			  {
  position:relative;
  margin-bottom: 35px;
  margin-left: 40px;
}

.input-material 				{
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: 0;
  border-bottom: 1px solid #757575;
}

.input-material:focus {
  outline: none;
}

// LABEL

label {
  color: $text-color-med;
  font-size: 14px;
  font-weight: normal;
  left: 5px;
  pointer-events: none;
  position: absolute;
  top: 15px;
  -moz-transition: .2s ease all;
  -webkit-transition: .2s ease all;
  transition: .3s ease all;
}

/// active state
.input-material:focus ~ label,
.input-material:valid ~ label {
  color: $btn-bg;
  font-size: 1rem;
  top: -1rem;
}

///* BOTTOM BARS ================================= */
.bar {
  display: block;
  position: relative;
  width: 19rem;

  ::before {
    left: 50%;
  }

  ::after {
    background: $btn-bg;
    bottom: -.05rem;
    content: '';
    height: 2.5px;
    position: absolute;
    right: 50%;
    -moz-transition: .3s ease all;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    width: 0;
    }
}

///* active state */
.input-material:focus ~ .bar::before,
.input-material:focus ~ .bar::after {
  width: 50%;
}

#footer-box {
  background: $form-box-bg;
  bottom: 0;
  height: 2rem;
  position: absolute;
  width: 100%;
}

.footer-text {
  color: $text-color;
  margin-top: .4rem;
}

.sign-up {
  color: $text-color-active;
  cursor: pointer;
}

.sign-up:hover {
  color: $btn-hover;
}

