body {
  background: url("../images/texture.png") repeat fixed;
  display: block; }

.jumbotron {
  background: url("../images/jumbo.jpg") right top;
  background-size: 100%;
  border-radius: 0; }

.hidden {
  display: none; }

#planvore {
  color: #ff9a17;
  font-family: 'Syncopate', sans-serif;
  font-weight: normal; }

.navbar-custom {
  background-color: rgba(0, 0, 0, 0.9); }

.navbar-custom .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5); }

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff; }

.navbar-custom .navbar-toggle.collapsed {
  border-color: #A4ABB0; }

.fa-bars {
  color: lavenderblush; }

footer {
  position: fixed;
  bottom: 0; }

@media (max-height: 800px) {
  footer {
    position: static; }

  header {
    padding-top: 40px; } }
.footer-distributed {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  width: 100%;
  margin-top: 80px; }

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top; }

.footer-distributed .footer-left {
  width: 40%; }

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0; }

.footer-distributed h3 span {
  color: #5383d3; }

/* Footer links */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0; }

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit; }

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0; }

.footer-distributed .footer-center {
  width: 35%; }

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle; }

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px; }

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0; }

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2; }

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none; }

/* Footer Right */
.footer-distributed .footer-right {
  width: 20%; }

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0; }

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px; }

.footer-distributed .footer-icons {
  margin-top: 25px; }

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px; }

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif; }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center; }

  .footer-distributed .footer-center i {
    margin-left: 0; } }
.box {
  position: relative;
  height: 24rem;
  top: 3rem;
  left: 0;
  z-index: 200;
  right: 0;
  width: 24rem;
  color: #666;
  border-radius: 0;
  background: #FFF;
  margin: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden; }

#header {
  background: #365e8a;
  position: relative;
  height: 4rem;
  width: 100%;
  margin-bottom: 2rem; }

#cont-lock {
  width: 100%;
  height: 1rem;
  position: relative;
  z-index: 500; }

#bottom-head {
  position: relative;
  background: #365e8a;
  height: 3rem; }

.lock {
  text-align: center;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  top: 1rem;
  bottom: 0;
  line-height: 65px;
  font-size: 28px; }

#bottom-head::after {
  content: '';
  width: 0;
  height: 15rem;
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  border: 7px solid rgba(0, 0, 0, 0);
  border-bottom-color: white; }

.box h1 {
  margin-left: 20px;
  margin-top: 0;
  font-size: 24px;
  font-weight: 300;
  color: #cfd8dc;
  line-height: 35px; }

.box button {
  background: #35a6df;
  border: 0;
  color: #fff1f5;
  padding: 10px;
  font-size: 16px;
  font-weight: 350;
  width: 300px;
  margin: 20px auto;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 2px; }

.box button:active {
  background: #35a6df;
  color: #88b4c8; }

.box button:hover {
  background: #56aa69;
  color: #FFF;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }

.box p {
  font-size: 14px;
  text-align: center; }

.group {
  position: relative;
  margin-bottom: 35px;
  margin-left: 40px; }

.inputMaterial {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575; }

.inputMaterial:focus {
  outline: none; }

label {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 15px;
  transition: 0.3s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.inputMaterial:focus ~ label, .inputMaterial:valid ~ label {
  top: -1rem;
  font-size: 14px;
  color: #35a6df; }

.bar {
  position: relative;
  display: block;
  width: 19rem; }

.bar:before, .bar:after {
  content: '';
  height: 2.5px;
  width: 0;
  bottom: -0.05rem;
  position: absolute;
  background: #35a6df;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
  width: 50%; }

#footer-box {
  width: 100%;
  height: 2rem;
  background: #365e8a;
  position: absolute;
  bottom: 0; }

.footer-text {
  color: #cfd8dc;
  margin-top: 0.4rem; }

.sign-up {
  color: #ffffff;
  cursor: pointer; }

.sign-up:hover {
  color: #b2dfdb; }

/*# sourceMappingURL=css.css.map */
